* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6c;
}

a {
  text-decoration: none;
  color: #38b48b;
}

header, nav, h1, h3, main, footer {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
   height: 100px;
   padding-top: 10px;
   margin: 0 auto;
   text-align: center;
   background-color: darkgreen;
}

header .heading a {
  color: #fff;
}

/* nav */
.nav-list {
  text-align: center;
  margin: 0 10px;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
}

main {
  width: 100%;
  height: auto;
  padding: 10px 40px 40px 40px;
  background-color: #ecfcdf;
}

section {
  display: flex;
  margin: 10px;
}

.main-image {
  width: 30%;
  height: 420px;
  border-radius: 10px;
  margin-right: 10px;
}

.profile-heading {
  text-align: center;
}

.profile-box {
  width: 70%;
  background-color: #fff;
  border-radius: 10px;
  line-height: 40px;
}

.profile-text {
  text-align: left;
}

.profile-text i {
  display: inline-block;
  margin: 0 20px 20px 0;
}

.profile-label {
  font-weight: bold;
  width: 100px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

footer {
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background-color: darkgreen;
}

.footer-text {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .heading {
    width: 100%;
  }

  .navi-list {
    width: 100%;
  }

  main {
    width: 100%;
    display: block;
  }

  .main-image {
    width: 100%;
    height: 50%;
    display: block;
  }

  .profile-box {
    width: 100%;
    margin: 10px 0 0 0;
  }

  section {
    width: 100%;
    display: block;
  }

}